vendors/
new-bookings/.phpunit.cache
new-bookings/node_modules
new-bookings/public/build
new-bookings/public/hot
new-bookings/public/storage
new-bookings/storage/*.key
new-bookings/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
new-bookings/.fleet
new-bookings/.idea
new-bookings/.vscode
node_modules/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/bookings_kr/logs/
/bookings_kr/sessions/

log-*.*